# misc
.vscode
.DS_Store
Archive.zip

# function contents (redundant)
/function/node_modules
/function/package.json
/function/package-lock.json
/function/Archive.zip

# data
config.js
page-data.json
/requests
/function/config.js
/function/page-data.json